/* fonts */

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url('assets/fonts/Merriweather-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  src: url('assets/fonts/Merriweather-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('assets/fonts/Lato-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('assets/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('assets/fonts/Lato-Bold.woff2') format('woff2');
}

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Lato';
}

/* header */

.header {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .header {
    max-height: 100px;
    overflow: hidden;
  }
}

.header--expand {
  position: fixed;
  height: 100vh;
  max-height: unset;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 31px;
  flex-grow: 1;
  max-width: 1116px;
  margin-left: 18px;
  margin-right: 18px;
}

@media only screen and (max-width: 1024px) {
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* header-logo */

.header-logo {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .header-logo {
    /* flex-grow: 1; */
  }
}

.header-logo__image {
  margin-right: 30px;
}

.header-logo__text {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.header-nav-wrapper {
  max-width: 670px;
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  .header-nav-wrapper {
    max-width: unset;
    width: 100%;
    margin-top: 32px;
  }
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .header-contacts {
    flex-direction: column;
    align-items: center;
  }
}

.header-contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .header-contacts__item {
    justify-content: flex-start;
    margin-bottom: 6px;
  }
}

.header-contacts__item-icon {
  margin-right: 15px;
  color: #005FA3;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .header-nav {
    flex-direction: column;
    align-items: center;
  }
}

.header-nav__item {
  text-decoration: none;
  color: #222222;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .header-nav__item {
    margin-bottom: 6px;
  }
}

.header-burger {
  display: none;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .header-burger {
    display: block;
  }
}

/* hero */

.hero {
  background-image: url('assets/img/hero-bg.png');
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 170px;
  padding-bottom: 113px;
}

@media only screen and (max-width: 1024px) {
  .hero {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1116px;
  margin-left: 18px;
  margin-right: 18px;
}

.hero__header {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  max-width: 589px;
  margin-bottom: 66px;
}

@media only screen and (max-width: 1024px) {
  .hero__header {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    max-width: unset;
  }
}

.hero__action {
  margin-bottom: 66px;
}

@media only screen and (max-width: 1024px) {
  .hero__action {
    margin-bottom: 30px;
  }
}

.hero__action-button {
  background-color: #005FA3;
  border: none;
  color: #FFFFFF;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  min-width: calc(234px + 36px);
}

@media only screen and (max-width: 1024px) {
  .hero__action-button {
    min-width: calc(100% - 36px);
  }
}

.hero__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .hero__navigation {
    flex-direction: column;
    align-items: center;
  }
}

.hero__pagination {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .hero__pagination {
    margin-bottom: 12px;
  }
}

.hero__pagination-item {
  height: 10px;
  width: 10px;
  background-color: #FFFFFF;
  opacity: 0.4;
  border-radius: 50%;
  display: inline-block;
}

.hero__pagination-item:not(:last-child) {
  margin-right: 40px;
}

.hero__pagination-item--active {
  opacity: 1;
}

.hero__navigation-arrows {
  display: flex;
}

.hero__navigation-button {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  color: #FFFFFF;
  padding: 22px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.hero__navigation-button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
}

/* contact-form */

.contact-form {
  background-image: url('assets/img/contact-bg.png');
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 118px;
  padding-bottom: 134px;
}

@media only screen and (max-width: 1024px) {
  .contact-form {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.contact-form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1116px;
  margin-left: 18px;
  margin-right: 18px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.contact-form__header {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  max-width: 589px;
  margin-bottom: 42px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__header {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.contact-form__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 72px;
  max-width: 445px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-form__submit {
    width: 100%;
  }
}

.contact-form__submit-button {
  font-family: 'Lato';
  font-style: normal;
  background-color: #005FA3;
  border: none;
  color: #FFFFFF;
  padding: 19px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  min-width: calc(234px + 36px);
}

@media only screen and (max-width: 1024px) {
  .contact-form__submit-button {
    width: 100%;
    min-width: calc(100% - 36px);
  }
}

@media only screen and (max-width: 1024px) {
  .contact-form__input input {
    width: 100%;
  }
}

.contact-form__input input {
  font-family: 'Lato';
  font-style: normal;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: unset;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  padding: 0;
  padding-bottom: 6px;
  color: #BDBDBD;
}

.contact-form__input textarea {
  font-family: 'Lato';
  font-style: normal;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: unset;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  padding: 0;
  color: #BDBDBD;
}

.contact-form-input__header {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.contact-form__contacts {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .contact-form__contacts {
    flex-direction: column;
    align-items: center;
  }
}

.contact-form__tel {
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .contact-form__tel {
    font-size: 18px;
    line-height: 27px;
    margin-right: 0;
    margin-bottom: 4px;
  }
}

.contact-form__tel svg {
  margin-right: 15.58px;
}

.contact-form__email {
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .contact-form__email {
    font-size: 18px;
    line-height: 27px;
  }
}

.contact-form__email svg {
  margin-right: 15.58px;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  max-width: 540px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__form {
    width: 100%;
  }
}

.contact-form__full-name {
  display: flex;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__full-name {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.contact-form__input--message textarea {
  width: 100%;
  height: 105px;
}

.contact-form__input--message {
  margin-bottom: 50px;
}

.contact-form__full-name .contact-form__input {
  width: calc(50% - 15px);
}

@media only screen and (max-width: 1024px) {
  .contact-form__full-name .contact-form__input {
    width: 100%;
  }
}

.contact-form__full-name .contact-form__input:first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 1024px) {
  .contact-form__full-name .contact-form__input:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.contact-form__submit {
  align-self: flex-end;
}

/* footer */

.footer {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 50px;
  flex-grow: 1;
  max-width: 1116px;
  margin-left: 18px;
  margin-right: 18px;
}

@media only screen and (max-width: 1024px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.footer__disclaimer {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.spacer {
  height: 3px;
}
